<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.scm32.dao.AccountMapper" >
  <resultMap id="accountResultMap" type="com.example.scm32.entity.Account" >
    <id column="acc_id" property="accId" jdbcType="INTEGER" />
    <result column="acc_login" property="accLogin" jdbcType="VARCHAR" />
    <result column="acc_name" property="accName" jdbcType="VARCHAR" />
    <result column="acc_pass" property="accPass" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 注意：（1）这里的id和Mapper里的方法名一致（2）这里使用#{}表示变量 -->
  <select id="login" parameterType="Account" resultMap="accountResultMap">
  	select  acc_id,acc_login,acc_name,acc_pass from account where acc_login=#{accLogin} and acc_pass=#{accPass}
  </select>
</mapper>